<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roncoo.eshop.inventory.mapper.ProductInventoryMapper">

    <select id="updateProductInventory" parameterType="com.roncoo.eshop.inventory.model.ProductInventory">
        update product_inventory
        set inventory_cnt=#{inventoryCnt}
        where product_id = #{productId}
    </select>

</mapper>